html {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* Bakgrunn hentet fra: https://www.freecreatives.com/backgrounds/vintage-background-images.html */


body {
  background: url("Ressurser/forsidebakgrunn.jpg");
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 110%;
}

/* Header-"banner" hentet fra: https://pixabay.com/no/banner-tatovering-vintage-b%C3%A5nd-2136190/ */


#header {
  height: 250px;
  width: 100%;
  background-position: center;
  background-image: url("Ressurser/Headerbakgrunn.png");
  background-repeat: no-repeat;
  font-family: arial;
}

#header h1 {
  position: relative;
  text-align: center;
  top: 15%;
  text-transform: uppercase;
  font-size: 84px;
  font-family: arial;
  color: black;
}


img {
  width:300px;
  height:200px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#openClassic, #openBit, #openArcade {
  border: 3px;
  border-color: black;
  border-style: solid;
}

#classic, #bit, #arcade {
  margin-left: 9%;
}

#openClassic, #classic {
  position: fixed;
  left: 10%;
}

#openBit, #bit {
  position: fixed;
  left: 40%;
}

#openArcade, #arcade {
  position: fixed;
  left: 70%;
}
