body {
  background: url("ressurser/forsidebakgrunn.jpg");
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 110%;
  background-attachment: fixed;
  text-align:center;
}

#header {
  top: 35%;
  height: 250px;
  width: 100%;
  background-position: center;
  background-image: url("ressurser/headerbakgrunn.png");
  background-repeat: no-repeat;
  font-family: arial;
  zoom: 80%;
}

#header h1 {
  position: relative;
  text-align: center;
  top: 15%;
  text-transform: uppercase;
  font-size: 84px;
  font-family: arial;
  color: black;
}

img {
  width:300px;
  height:300px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 3px;
  border-color: black;
  border-style: solid;
  text-align:center;
}

iframe {
  width: 50%;
  height: 400px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.persBilder{
  width: 180px;
  height: 250px;
  text-align: center;
}

figure {
  display:inline-block;
  margin:10px;
  text-align: center;
}

#kart{
  margin-top:50px;
  text-align:center;
