html {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* Bakgrunn hentet fra: https://www.freecreatives.com/backgrounds/vintage-background-images.html */


body {
  background: url("ressurser/forsidebakgrunn.jpg");
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 110%;
  background-attachment: fixed;
}


/* Header-"banner" hentet fra: https://pixabay.com/no/banner-tatovering-vintage-b%C3%A5nd-2136190/ */


#header {
  top: 35%;
  height: 250px;
  width: 100%;
  background-position: center;
  background-image: url("ressurser/Headerbakgrunn.png");
  background-repeat: no-repeat;
  font-family: arial;
  zoom: 80%;
}

#header h1 {
  position: relative;
  text-align: center;
  top: 15%;
  text-transform: uppercase;
  font-size: 84px;
  font-family: arial;
  color: black;
}


img {
  width:300px;
  height:300px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#openClassic, #openBit, #openArcade {
  border: 3px;
  border-color: black;
  border-style: solid;
}

#openClassic {
  position: fixed;
  top: 50%;
  left: 10%;
}

#classic {
  position: fixed;
  top: 42%;
  left: 13.5%;
  font: normal 45px/1 Arial Black, Gadget, sans-serif;
  color: #800200;
  text-align: center;
}

#openBit {
  position: fixed;
  top: 50%;
  left: 40%;
}

#bit {
  position: fixed;
  top: 42%;
  left: 47%;
  font: normal 45px/normal "Anton", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2.5px 2.5px 0 rgb(255,210,23) , 5px 5px 0 rgb(90,199,255) , 8px 8px 0 rgb(255,210,23) , 10px 10px 0 rgb(90,199,255) ;
  background: rgba(200,54,54,0);
  text-align: center;
}

#openArcade {
  position: fixed;
  top: 50%;
  left: 70%;
}

#arcade {
  position: fixed;
  top: 42%;
  left: 76%;
  font-size: 45px;
  font-family: "Bitstream Vera Sans Mono";
  color: rgba(21,171,195,1.0);
  text-shadow: 0 0 5px rgba(21,171,195,0.7);
  text-align: center;
}

figure {
  display:inline-block;
  margin:10px;
  text-align: center;
}
