html {
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

body {
  background: url("Ressurser/8-bit.png");
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 110%;
}



button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 45px/normal "Anton", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 2.5px 2.5px 0 rgb(255,210,23) , 5px 5px 0 rgb(90,199,255) , 8px 8px 0 rgb(255,210,23) , 10px 10px 0 rgb(90,199,255) ;
  background: rgba(200,54,54,0);
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}



#overskrift {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 84px/normal "Anton", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 5px 5px 0 rgb(255,210,23) , 10px 10px 0 rgb(90,199,255) , 15px 14px 0 rgb(255,210,23) , 20px 20px 0 rgb(90,199,255) ;
  text-transform: uppercase;
}



.tile {
   height: 35px;
   width: 35px;
   margin-right: 10px;
   align-content: center;
   font-size: 30px;
   display: inline-block;
   border-bottom: 1.5px solid black;
   /*border: 1px solid black;*/
   }

#spill {
  text-shadow: 2px 2px 10px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  /*padding: 10px 15px 10px 15px;*/
  text-decoration: none;
}

canvas {
  position: fixed;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 300px;
  height: 50%;
  width: 40%;
}

#bokstav {
  position: fixed;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 75%;
  left: 36.5%;
}


#knapper {
  position: fixed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 85%;
  left: 15%;
}

#MegaMan {
  position: fixed;
  top: 65%;
  left: 80%;
  zoom: 25%;
}


#spillover, #reset {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  font-size: 60px;
}
